/* Structure */
.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  width: 200px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: Candara;
}


.container.mat-elevation-z8 h1 {
  color: #2fedf7 !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  font-family: Candara;
}